.LoanStats {
  color: gray;
  font-family: "Jura", sans-serif;
}

.LoanStats .label {
  white-space: nowrap;
}

.LoanStats .number {
  font-size: 24px;
}

.LoanStats .number::after {
  content: "%";
}