.GoToSite {
  padding: 7px 10px;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  font-family: "Jura", sans-serif;
}

.GoToSite:hover{
  border: 2px solid;
  background: #6fd9f8;
  color: white;
}